@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1e1e20;
    background: #dedede;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 150px;
}

@media (max-width: 1400px) {
    body {
        padding: 50px;
    }
}